*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    font-family: 'Roboto', sans-serif;
}
:root
{
    --primary-color:#eb5757;
    --secondary-color:#222;
    --light-color:#f9f9f9;
    --dark-color:#333;
}
/*Estilos header*/
header
{
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
}
header .seccion-covid
{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--light-color);
    background-color: var(--secondary-color);
}
header .seccion-covid button
{
    width: 140px;
    height: 35px;
    border-radius: 18px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
}
header .seccion-covid p
{
    font-size: 18px;
}
header .menu
{
    width: 100%;
    height: 75px;
    padding: 0 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-color);
}
header .menu div
{
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu div a
{
    height: 35px;
    width: 75px;
    padding-top: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--light-color);
    display: inline-block;
    transition: all 0.5s ease;
}
header .menu div a:hover
{
    background-color: var(--secondary-color);
}
header .menu div button
{
    width: 45px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    background-size: 60%;
    background-position: center;
    border: none;
    position: relative;
}
header .menu div button i
{
    color: white;
}
header .menu div button span
{
    width: 20px;
    height: 20px;
    padding-top: 2px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 35px;
    text-align: center;
    color: var(--dark-color);
    background-color: var(--light-color);
}
/*Estilos seccion 1 (Finalizado)*/
main .seccion1
{
    width: 100%;
    height: 560px;
    background-image: url("../img/road-1303617.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--light-color);
}
main .seccion1 h1
{
    font-size: 35px;
    font-weight: bold;
    padding-top: 190px;
    padding-bottom: 5px;
}
main .seccion1 h4
{
    font-size: 25px;
    padding-bottom: 15px;
}
main .seccion1 p
{
    font-size: 15px;
}
/*Estilos seccion 2*/
main .seccion2
{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
main .seccion2 article
{
    width: 580px;
    height: 480px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
}
main .seccion2 article button
{
    width: 90%;
    height: 65px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
main .seccion2 article button:hover
{
    background-color: var(--secondary-color);
}
/*Estilos del footer (FINALIZADO)*/
footer
{
    width: 100%;
    height: 190px;
    background-color: var(--secondary-color);
    color: white;
}
footer div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div span
{
    margin-left: 100px;
    margin-top: 50px;
}
footer div span a
{
    text-decoration: none;
    font-style: none;
    color: white;
    font-size: 12px;
}
footer div .redes
{
    margin-right: 60px;
    margin-top: 70px;
}
footer div .redes a
{
    text-decoration: none;
    font-style: none;
    color: white;
    font-size: 32px;
    margin-right: 20px;
    transition: all 0.3s ease;
}
footer div .redes a:hover
{
    color: rgba(250, 250, 250, 0.6);
}
footer p
{
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}
footer p a
{
    text-decoration: none;
    color: var(--primary-color);
}